<div class="w-full h-full" fxLayout="column" fxLayoutAlign="start start">
  <div class="w-full h-full" fxLayout="column" fxLayoutAlign="start start">
    <div *ngIf="!noctuaUserService.user" class="noc-not-loggedin" fxLayout="row" fxLayoutAlign="center center">
      Not Logged In: You can only view existing annotations
    </div>

    <noc-cam-toolbar [cam]="cam" [options]="camToolbarOptions"></noc-cam-toolbar>

    <mat-drawer-container class="noc-drawer-container w-full h-full" fxLayout="row" fxLayoutAlign="start start"
      autosize>
      <mat-drawer #leftDrawer class="noc-left-drawer" mode="side" position="start">
        <div [ngSwitch]="noctuaCommonMenuService.selectedLeftPanel" class="h-full">
          <noc-cam-form [panelDrawer]="leftDrawer" *ngSwitchCase="LeftPanel.CAM_FORM">
          </noc-cam-form>
          <noc-copy-model [panelDrawer]="leftDrawer" [panelSide]="'left'" *ngSwitchCase="LeftPanel.COPY_MODEL">
          </noc-copy-model>
        </div>
      </mat-drawer>
      <mat-drawer-content class="w-full h-full" fxLayout="column" fxLayoutAlign="start stretch">
        @if(modelId) {
        <div class="w-full h-full p-4" fxLayout="row" fxLayoutAlign="center start">
          <wc-gocam-viz #gocamViz>
          </wc-gocam-viz>
        </div>
        }
      </mat-drawer-content>
      <mat-drawer #rightDrawer class="noc-right-drawer" mode="side" position="end">
        <div [ngSwitch]="noctuaCommonMenuService.selectedRightPanel" class="h-full">
          <noc-term-detail [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.TERM_DETAIL">
          </noc-term-detail>
          <noc-sidenav-comments [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.COMMENTS" [cam]="cam">
          </noc-sidenav-comments>
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>