<!doctype html>
<html lang="en">
<head>
  <base href="/workbench/noctua-alliance-pathway-preview/">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <title>GOCAM Pathway Viewer</title>
  <script type="module" crossorigin src="/workbench/noctua-alliance-pathway-preview/assets/js/index-8v34cP-3.js"></script>
  <link rel="modulepreload" crossorigin href="/workbench/noctua-alliance-pathway-preview/assets/js/redux-CEltiUkM.js">
  <link rel="modulepreload" crossorigin href="/workbench/noctua-alliance-pathway-preview/assets/js/mantine-D4nPQkgE.js">
  <link rel="modulepreload" crossorigin href="/workbench/noctua-alliance-pathway-preview/assets/js/gocam-viz-p_xpslq1.js">
  <link rel="stylesheet" crossorigin href="/workbench/noctua-alliance-pathway-preview/assets/css/mantine-BzIKP0yp.css">
  <link rel="stylesheet" crossorigin href="/workbench/noctua-alliance-pathway-preview/assets/css/index-BFjwOl4Y.css">
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>
</html>